<!-- start of Footer menu with logo -->

<footer class="text-lg-start bg-dark bs_footer_layout_7 text-white">
    <div class="container">
            <div class="d-flex bd-highlight mb-3">
                <div class="bd-highlight"> 
                    <img src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/blockui/M43cab5ac14e6efb98d5e9c268750d1501644834315448/assets/M1fa94d217f3a1c664300d181e935b29a1644844497216/logo.png" alt="logo" class="bs_footer_logo img-fluid">
                </div>
                <div class="ms-auto bd-highlight">
                    <p class="bs_footer_span bs_text_copyright">Language</p>    
                </div> 
                
            </div>
            <hr>
            <div class="d-flex row justify-content-center py-4 bs_footer_row">
                <div class="col-xs-6  col-sm bs_footer_col">
                    <h4 class="bs_footer_widget_title">Top Features</h4>
                    <ul class="bs_footer_widget_links">
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Social media tools</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Ads</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Email automations</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Themes</span></a></li>
                    </ul>
                </div>
                <div class="col-xs-6  col-sm bs_footer_col">
                    <h4 class="bs_footer_widget_title">Softwares</h4>
                    <ul class="bs_footer_widget_links">
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Blogs</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Landing page builder</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Website Builder</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Chat builder</span></a></li>
                    </ul>
                </div>
                <div class="col-xs-6  col-sm bs_footer_col">
                    <h4 class="bs_footer_widget_title">Guides</h4>
                    <ul class="bs_footer_widget_links">
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Starter template</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Invoice template</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Pipeline tools</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Webpack</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Icons</span></a></li>
                    </ul>
                </div>
                <div class="col-xs-6  col-sm bs_footer_col">
                    <h4 class="bs_footer_widget_title">Links</h4>
                    <ul class="bs_footer_widget_links">
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Docs</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Invesator relations</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Board of directors</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>App programs</span></a></li>
                    </ul>
                </div>
                <div class="col-xs-6  col-sm bs_footer_col">
                    <h4 class="bs_footer_widget_title">Community</h4>
                    <ul class="bs_footer_widget_links">
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Discussions</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Issues</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Open collective</span></a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none text-reset"><span>Corporate sponsors</span></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="bs_footer_copyright_row align-items-center justify-content-between bs_copyright py-2">
                <div class="d-flex bd-highlight mb-3">
                    <div class="bd-highlight bs_footer_copyright_1">
                        <p class="bs_text_copyright bs_footer_layout_7_bs_text_copyright1">Internet of things</p>
                    </div>
                    <div class="ms-auto bd-highlight bs_footer_copyright_2">
                        <p class="bs_text_copyright">© copyright 2021 - Present. All Rights Reserved.</p>
                    </div>
                </div>

                
            </div>
        </div>
</footer>

<!-- end of Footer menu with logo -->
</body>

</html>